<li class='
  {{if @todo.isCompleted "completed"}}
  {{if this.isEditing "editing"}}
'>
  <div class='view'>
    <input
      aria-label='Toggle the completion of this todo'
      class='toggle'
      type='checkbox'
      checked={{@todo.isCompleted }}
      {{on 'change' this.complete}}
    >
    {{!-- <EmberTooltip>
        <iconify-icon icon="mdi:movie"></iconify-icon>
        <iconify-icon icon="material-symbols:tv-outline"></iconify-icon>
        <iconify-icon icon="material-symbols:menu-book-outline-sharp"></iconify-icon>
        <iconify-icon icon="ic:baseline-place"></iconify-icon>
    </EmberTooltip> --}}
    <label {{on 'dblclick' this.edit}}>
      {{@todo.text}}
    </label>

    {{!-- <ItemType @value={{@todo.itemType.name}} @onSelect={{this.handleSelectItemType}} as |sb|>
        {{#each this.allTypes as |type|}}
            <sb.Option @value={{type}}>{{type}}</sb.Option>
        {{/each}}
    </ItemType> --}}

    {{!-- TODO: Try the Simple Select https://zestia.github.io/ember-select-box/#/simple-select --}}
    
    <NativeSelectBox class="item-type"
        @value={{@todo.itemType.name}}
        @onSelect={{this.setType}}
        as |sb|>
        {{#each this.todos.allTodoTypes as |type|}}
            <sb.Option @value={{type}}>
                {{type}}
            </sb.Option>
        {{/each}}
    </NativeSelectBox>
    
    <button
      type='button'
      class='destroy'
      title='Remove this todo'
      {{on 'click' (fn this.todos.remove @todo)}}
    ></button>
  </div>

  <input
    aria-label="Edit the todo"
    class='edit'
    value={{@todo.text}}
    {{did-insert this.createRef}}
    {{on 'blur' this.finish}}
    {{on 'keydown' this.onKeyDown}}
  >
</li>