<li class='
  {{if @todo.isCompleted "completed"}}
  {{if this.isEditing "editing"}}
'>
  <div class='view'>
    <input
      aria-label='Toggle the completion of this todo'
      class='toggle'
      type='checkbox'
      checked={{@todo.isCompleted }}
      {{on 'change' this.complete}}
    >
    {{!-- <EmberTooltip>
        <iconify-icon icon="mdi:movie"></iconify-icon>
        <iconify-icon icon="material-symbols:tv-outline"></iconify-icon>
        <iconify-icon icon="material-symbols:menu-book-outline-sharp"></iconify-icon>
        <iconify-icon icon="ic:baseline-place"></iconify-icon>
    </EmberTooltip> --}}
    <label {{on 'dblclick' this.edit}}>
      {{@todo.text}}
    </label>

    <span class="type" title="Type">
        <iconify-icon icon="{{@todo.itemType.icon}}" style="{{@todo.itemType.style}}"></iconify-icon>
        <EmberTooltip>{{@todo.itemType.name}}</EmberTooltip>
    </span>

    <button
      type='button'
      class='destroy'
      title='Remove this todo'
      {{on 'click' (fn this.todos.remove @todo)}}
    ></button>
  </div>

  <input
    autofocus
    class='edit'
    value={{@todo.text}}
    {{did-insert this.createRef}}
    {{on 'blur' this.finish}}
    {{on 'keydown' this.onKeyDown}}
  >
</li>